#include "resource.h"

IDR_LF_ENGINE ENGINE_NUM "engine.xml"
IDR_LF_ENGINE ENGINE_0 "0.xml"
IDR_LF_ENGINE ENGINE_1 "1.xml"
IDR_LF_ENGINE ENGINE_2 "2.xml"
IDR_LF_ENGINE ENGINE_3 "3.xml"
IDR_LF_ENGINE ENGINE_4 "4.xml"
IDR_LF_ENGINE ENGINE_5 "5.xml"
IDR_LF_ENGINE ENGINE_6 "6.xml"
IDR_LF_ENGINE ENGINE_7 "7.xml"
IDR_LF_ENGINE ENGINE_8 "8.xml"
IDR_LF_ENGINE ENGINE_9 "9.xml"
